@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'totoro' !important;
}

#mapContainer {
    width: 100%;
    height: 100%;
    position: absolute; /* To make the div stretch to full height */
}

@font-face {
  font-family: 'totoro';
  src: url(../font/all.ttf);
}

@font-face {
  font-family: 'footer';
  src: url(../font/footer.ttf);
}

a:hover {
  transform: scale(1.05);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

a:active {
  color: #b000ff;
}

a:visited {
  color: rgb(255 0 0);
}

span:hover {
  transform: scale(1.05);
}

body {
  background-image: url(../img/background.jpg);

  background-repeat: no-repeat;
  background-color: rgb(227 227 227 / 70%);
  overflow-x: hidden;
}

tr {
  font-size: 20px;
}

#title {
  font-family: '华文行楷' !important;
  color: rgb(0, 0, 0) !important;
  font-size: 40px !important;
  font-weight: 500 !important;
  margin-bottom: 15px;
}

footer {
  /* position: absolute; */
  width: 100%;
  height: 80px;
  background-color: white;
  /* bottom: 0; */
}

.footer {
  margin: auto;
  width: fit-content;
  /*real div middle */
  line-height: 80px;
   position: absolute;
  top: 20px;
  right: 31vw; 
  color: rgb(255, 165, 180);
  font-size: 30px;
  font-family: '楷体';
}

.head {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
}

nav {
  position: absolute;
  position: sticky;
  z-index: 100011111;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* 左右padding */
  padding: 0 4vw;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.445);
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}


#first {
  position: absolute;
  left: 26px;
  font-family: '华文行楷';
  font-weight: 900;
  font-size: 25px;
  top: 18px;
}
.search-bar {
    margin: 10px 0px 0px 0px;
}

.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin: 0px 0px 0px 0px;
}

.search-bar button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f8f8f8;
    cursor: pointer;
    font-weight: 900;
    font-size: 25px;
}

.search-bar {
    position: absolute;
    top: 3px;
    left: 50px;
    z-index: 1000;
}


#jiaoshe {
  margin-top: 100px !important;
}

.nav-menu {
  /* have W */
  flex: 1;
  display: flex;
  justify-content: space-around;

  /* max W 550px */
  max-width: 550px;
}

.nav-menu li {
  width: 40%;
  list-style: none;
  color: #dadbdd;
  font-weight: 600;
  text-align: center;
}

.nav-menu li a {
  color: rgba(0, 0, 0, 0.716);
}