@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'totoro' !important;
}

#mapContainer {
    width: 100%;
    height: 100%;
    position: absolute; /* To make the div stretch to full height */
}

@font-face {
  font-family: 'totoro';
  src: url(../font/all.ttf);
}

@font-face {
  font-family: 'footer';
  src: url(../font/footer.ttf);
}

a:hover {
  transform: scale(1.05);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

a:active {
  color: #b000ff;
}
li{
    border: 3px solid #8CEBFF;
    line-height: 1;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 4px 0px 4px 0px;
    background: #8EFDFF;

}
a:visited {
  color: rgb(255 0 0);
  
}

span:hover {
  transform: scale(1.05);
}

body {
  margin: 0;
  padding: 0;
}

nav {

  width: 100%;
  height: 70px;
  position: sticky;
  top: 0; 
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 4vw;
  background-color: rgba(255, 255, 255, 0.445);
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  justify-content: center;
  

}
.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 70%; /* Adjusts the width of the nav-menu */
  list-style: none;
}

.nav-menu li {
  color: #dadbdd;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;  /* Adds space to the right of each menu item */
}

.nav-menu li a {
  color: rgba(0, 0, 0, 0.716);
}

.search-bar {
  position: relative;
  z-index: 1000;
}


#opt1 {
  margin-top: 100px !important;
}

.nav-menu {
  /* have W */
  flex: 1;
  display: flex;
  justify-content: space-around;

  /* max W 550px */
  max-width: 550px;
}

.nav-menu li {
  width: 40%;
  list-style: none;
  color: #dadbdd;
  font-weight: 600;
  text-align: center;
  
}

.nav-menu li a {
  color: rgba(0, 0, 0, 0.716);
}
/*-----------------------------------------------------------------------*/
body {
    background-color: rgb(119 157 193);
    display: block; /* Display as block not flex */
}


        .a{

            position: relative;

            height: 600px;

            background-image: url("/static/IMG/loginbackground.jpeg");

            background-size: cover;

            display: flex;

            justify-content: center;

            align-items: center;

            overflow: hidden;

        }

        .b,

        .c,

        .d,

        .e{

            position: absolute;

            width: 1000px;

            height: 600px;

            /* 设置阴影 */

            filter: drop-shadow(4px 4px 12px rgba(0,0,0,1));

            background-size: cover;

            opacity: .7;

            transition: .5s;

        }

        .b::after,

        .c::after,

        .d::after,

        .e::after{

            content: "";

            position: absolute;

            width: 1000px;

            height: 650px;
            

            background-image: url("/static/IMG/loginbackground.jpeg");

        }

        .b{

            left: -400px;

            transform: rotateZ(100deg);

            overflow: hidden;

        }

        .b::after{

            transform: rotateZ(-100deg);

        }



        .c{

            left: -400px;

            transform: rotateZ(-100deg);

            overflow: hidden;

        }

        .c::after{

            transform: rotateZ(100deg);

        }



        .d{

            right: -400px;

            transform: rotateZ(105deg);

            overflow: hidden;

        }

        .d::after{

            transform: rotateZ(-105deg);

        }



        .e{

            right: -400px;

            transform: rotateZ(-100deg);

            overflow: hidden;

        }

        .e::after{

            transform: rotateZ(100deg);

        }

.f{
    opacity: 0;
    font: 300 40px '';
    text-align: center;
    margin-right: 40px;
    letter-spacing: 3px;
    color: rgb(70,60,70);
    transition: .5s;
    align-items: center;
    background-color:rgba(2,36,40,0.81);
    position: relative;  /* Add this line */
    display: flex;
    justify-content: center;
    flex-direction: column; 
    border: 3px solid #8CEBFF;
    line-height: 1;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 5px;
}
        
.f a {
    color: darkblue;
    text-decoration: none;
    
}

.g {
    opacity: 0;
    position: absolute;
    right: -13%;
    top: 60%; /* This will vertically center .g relative to .f */
    transform: translateY(-50%); /* This will vertically center .g relative to .f */
    transition: .5s;
}
        /* 设置动画 */

        .a:hover .b{

            left: -550px;

        }

        .a:hover .c{

            left: -600px;

        }

        .a:hover .d{

            right: -550px;

        }

        .a:hover .e{

            right: -610px;

        }

        .a:hover .f{

            opacity: 1;
            background-color:rgba(168,241,255,0.51)

        }
        
        .a:hover .g{

            opacity: 1;

        }


@media only screen and (max-width: 600px) {
    .f {
        font-size: 20px;
        z-index: 9999;
    }

    .g {
        z-index: 9999;
        position: absolute; /* Change this line */
        width: 5px;
        height: 5px;
        right: -3%;
        top: -50%; /* Change this line */
        transform: translate(-50%, -50%);
    }
}