html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: normal;
   list-style: none;
}

/* border-box so that border widths aren't added to the total width of the element: */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

/* Clearfix to make floated elements behave correctly: */
   .cf:before, .cf:after { content: ""; display: table; }
   .cf:after { clear: both; }
   .cf { zoom: 1; }

/* In order for the percentage heights to work we need this: */
html, body { height:100%; }


.thin { font-weight: 100; }
.extra-light { font-weight: 200; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }
.black { font-weight: 900; }

body {
    font-family: Arial, sans-serif;
    font-size: 200%;
}

header {
    background-color: darkcyan;
    text-align: center;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
#search-button{
font-size: 70%;
background-color: greenyellow;
}

#map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

#project-form-panel, #project-panel {
    width: 100%;
}

#project-name, #project-description {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#toggle-button {
    padding: 10px;
    margin-bottom: 10px;
}

#options{

    margin: 0px 0% 0% 80%;
}
.option {
    

    background-color: lightgreen;
    border-radius: 50px; /* Makes the background oval */
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    
}

.hide {
    display: none;
}

.option h2{
font-size: 50%;
transition: all 0.5s;
margin:20px 2%;

}
.option h2:hover { 
    transform: scale(1.5);
}

