<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

  <link href="/static/css/home_page.css" rel="stylesheet" type="text/css">
  <style>
    html, body, #mapContainer {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <nav>
    <ul class="nav-menu">
      <li>
        <div class="search-container">
          <form>
              <input type="text" placeholder="Type in location">
              <button type="submit">Go</button>
          </form>
      </div>
    </li>
    
      <li><a href="https://cbbel.com/">cbbel Web</a></li>
      <li><a href="/login" id="login">Sign Page</a></li>
      <li><a href="/savepage" id="savepage">Add Projects</a></li>
    </ul>



      <div class="burger">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </nav>
  <div class="map-container" id="mapContainer"></div>
  <script>
    var platform = new H.service.Platform({
      'apikey': 'qlrRiPNTPWGYLnSG9qJmWGtSay-QVgiCqlNUyBoF_aY'
    });

    // Obtain the default map types from the platform object
    var defaultLayers = platform.createDefaultLayers();

    // Instantiate (and display) the map
    var map = new H.Map(
      document.getElementById('mapContainer'),
      defaultLayers.vector.normal.map,
      {
        zoom: 15,
        center: { lat: 41.991890, lng: -87.863319 }
      });

    // Create the default UI components
    window.addEventListener('resize', () => map.getViewPort().resize());
    var ui = H.ui.UI.createDefault(map, defaultLayers);

    // Enable map events and behaviors (e.g., panning and zooming)
    var mapEvents = new H.mapevents.MapEvents(map);
    var behavior = new H.mapevents.Behavior(mapEvents);

    // Create a marker at CBBEL's address 
    var cbbelMarker = new H.map.Marker({ lat: 41.991890, lng: -87.863319 });

    // Adding the marker to the map ? 
    // new code!
    map.addObject(cbbelMarker);
</script>
</body>
</html>
