<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xinyang</title>
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav>
    <ul class="nav-menu">
      <li><a href="/">Home Page</a></li>
      <li><a href="/login" id="login">SignIn Page</a></li>
      <li><a href="/savepage" id="savepage">Add Projects</a></li>
      <li><a href="https://cbbel.com/">cbbel Web</a></li>
    </ul>
    <div class="burger">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </nav>
  <div class="a">
    <p class="f">  
        <a id="micrologin" class="btn btn-info btn-md" href="{{ auth_url }}">Sign in with Microsoft</a>
        <span class="g">
            <img src="/static/IMG/log.png" width="48" height="48" alt=""/>
        </span>
    </p>
    <div class="b"></div>
    <div class="c"></div>
    <div class="d"></div>
    <div class="e"></div>
  </div>
</body>
</html>