<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>savepage</title>
<link href="/static/css/savepage.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav>
    <ul class="nav-menu">
        <li><a href="/">Home Page</a></li>
        <li><a href="/login" id="login">SignIn Page</a></li>
        <li><a href="/savepage" id="savepage">Save Page</a></li>
        <li><a href="https://cbbel.com/">cbbel Web</a></li>

    </ul>
    <div class="burger">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </nav>
  
    <div class="content">
        <div class="login-wrapper">
            <div class="left-img">
                <div class="glass">
                    <div class="tips">
                        <div class="title">
                            THE MAP NETWORK
                        </div>
                        <h1>Hi!</h1>
                        <span>This is a place where map data information can be stored</span>
                    </div>
                </div>
            </div>
            <div class="right-login-form">
                <div class="form-wrapper">

                    <div class="input-items">
                        <span class="forgot">NAME</span>
                        <input type="text" class="inputs" placeholder="Enter your name">
                        
                        <span class="forgot">CATEGORY</span>
                        <input type="text" class="inputs" placeholder="Enter your category">
                        
                        <span class="forgot">DATE</span>
                        <input type="text" class="inputs" placeholder="Enter your date">
                        
                                                <span class="forgot">LONGITUDE</span>
                        <input type="text" class="inputs" placeholder="Enter your longitude">
                        
                                                <span class="forgot">LATITUDE</span>
                        <input type="text" class="inputs" placeholder="Enter your latitude">
                        
                                                <span class="forgot">PHOTOS</span>
                        <input type="text" class="inputs" placeholder="Enter your photos">
                        
                                                <span class="forgot">NOTES</span>
                        <input type="text" class="inputs" placeholder="Enter your notes">
                        
                    </div>
                    
                    <button class="btn">save</button>

                    <div class="other-login">
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
